// =================================
//   SYSTEM CONFIG
// =================================

$enable-display-responsive: true;
$enable-flex-responsive: true;
$enable-gap-responsive: true;
$enable-spacing-responsive: true;

$enable-spacing-extended: true;
