@use 'sass:map';
@use '../../base/variables/' as *;
@use '../../base/mixins' as *;

// =================================
//   END SCREEN
// =================================

.end-screen {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

// =================================
//   GAME RESULT
// =================================

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-sm;

  background-color: $accent;
  padding: 1.5rem 2rem;
  border-radius: map.get($rounded-map, md);

  &__item {
    width: 200px;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    
    @include text-style(
      $font-size: $fs-lg,
      $color: $text-primary,
      $line-height: 1.4
    );
  }

  &__label {
    font-weight: 400;
  }

  &__value {
    font-weight: 600;
  }
}

// =================================
//   GAME ACTIONS
// =================================

.game-actions {
  display: flex;
  justify-content: center;
  gap: $spacing-lg;
}
