@use 'sass:map';
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

// =================================
//   GAME
// =================================

.game {
  background-color: $bg-surface;
  max-width: 900px;
  width: 100%;
  padding: $spacing-xl $spacing-2xl $spacing-2xl;
  display: flex;
  flex-direction: column;
  border-radius: map.get($rounded-map, lg);
  box-shadow: $shadow-md;
  gap: $spacing-2xl;

  @include media-breakpoint-down(md) {
    padding: $spacing-lg $spacing-xl $spacing-xl;
    border-radius: 0;
  }

  &__title {
    color: $text-accent;
    font-size: $fs-3xl;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      font-size: $fs-2xl;
    }
  }

  &__title-text {
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}
