@use 'sass:map';
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

// =================================
//   GAME
// =================================

.game {
  background-color: $bg-surface;
  max-width: 900px;
  width: 100%;
  padding: $spacing-xl $spacing-2xl $spacing-2xl;
  display: flex;
  flex-direction: column;
  border-radius: map.get($rounded-map, lg);
  box-shadow: $shadow-md;

  @include media-breakpoint-down(md) {
    padding: $spacing-lg $spacing-xl $spacing-xl;
    border-radius: 0;
  }

  &__title {
    @include text-style(
      $font-weight: 700,
      $font-size: $fs-3xl,
      $color: $text-accent,
      $line-height: 1.2
    );
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: $spacing-2xl;
  }
}
